/* AppComponent's private CSS styles */
h1 {
    font-size: 1.9em;
    color: rgb(187, 68, 177);
    margin-bottom: 0;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
  nav a {
    padding: 20px;
    text-align: center;
    color:  #eee;
  
    background-color: #2c0c308a;
   

    /*padding: 20px 40px;
    text-decoration: none;
    margin-top: 30px;
    display: inline-block;
    background-color: rgb(201, 53, 201);
    border-radius: 4px;*/
  }
  nav a:visited, a:link {
    color: #eee;
  }
  nav a:hover {
    color: #bf03e5;
    background-color: #ececec;
  }
  nav a.active {
    color: #a0a300;
  }
  
  
  /*
  Copyright 2017-2018 Google Inc. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */